<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ebay Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Ebay Dashboard</h1>
        <a href="{{ url_for('search') }}">
            <button class="search-button">Search Open Ebay Auctions</button>
        </a>
    </div>
</body>
</html>
